<div class="container py-5">

    <!-- End -->
    <app-loader *ngIf="isLoading" class="loading-contain"></app-loader>
    <div class="row pt-5">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex py-3">
                        <div>
                            <h5 class="card-title">Github User List</h5>
                            <h5 class="card-title"> Results : {{users?.length}}</h5>
                        </div>
                        <div class="ml-auto">
                            <input type="text" [(ngModel)]="search" placeholder="Search User" (ngModelChange)="updateSearchModel($event)" />
                        </div>
                    </div>
                    <div class="table-responsive m-t-20 no-wrap">
                        <div *ngIf="users?.length == 0">
                            No Result Found
                        </div>
                        <table class="table vm no-th-brd pro-of-month">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th colspan="2">User Name</th>
                                    <th>User Type</th>
                                    <th>Repository</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users | filter:search; index as i">
                                    <td>{{i + 1}}</td>
                                    <td style="width:50px;">
                                        <span class="round">
                                            <img [src]="user.avatar_url" [alt]="user.avatar_url">
                                        </span></td>
                                    <td>
                                        <h6 class="pt-2">{{user?.login | titlecase}}</h6>
                                    </td>
                                    <td>
                                        <p class="pt-2">{{user?.type}}</p>
                                    </td>
                                    <td>
                                        <p class="pt-2">
                                            <a routerLink="/repositories/{{user.login}}" class="font-weight-bold pt-2 my-2">
                                                Repositories View
                                            </a>
                                        </p>
                                    </td>
                                    <td>
                                        <p class="pt-2">
                                            <a routerLink="/user-detail/{{user.login}}" class="font-weight-bold pt-2 my-2">
                                                User View
                                            </a>
                                        </p>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>