body{
	    
        margin: 0;
}
html,body{
	font-family: roboto,sans-serif;
    font-weight: 400;
}

footer, header{
	background-color: #007b5e !important;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');